<h2 ng-show="model.curso.id">Alterar Curso</h2>
<h2 ng-hide="model.curso.id">Adicionar Curso</h2>
<form name="mainForm" ng-submit="save()">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-6">
				<label>Nome</label><input type="text" class="form-control" name="nome" ng-model="model.curso.nome" required>
				<validate-msg-for field="mainForm.nome"></validate-msg-for>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<label>Descrição</label> 
				<input type="text" class="form-control"  name="descricao" class="span4" ng-model="model.curso.descricao" ng-required="true">
				<validate-msg-for field="mainForm.descricao"></validate-msg-for>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<label>Coordenador do Curso</label> 
				<select id="professores" class="form-control"  ng-model="model.curso.professor" name="professor" ng-options="t.pessoa.nome for t in professores track by t.id" ng-required="true">
					<option value="">Selecione um professor</option>
				</select>
				<validate-msg-for field="mainForm.professor"></validate-msg-for>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-6">
				<label>Departamento</label> 
				<select id="departamentos" class="form-control"  ng-model="model.curso.departamento" name="departamento" ng-options="d.nome for d in departamentos track by d.id" ng-required="true">
					<option value="">Selecione um Departamento</option>
				</select>
				<validate-msg-for field="mainForm.departamento"></validate-msg-for>
			</div>
		</div>
		<br> 
		<a ui-sref="curso" class="btn btn-default">Cancelar</a>
		<button type="submit" class="btn btn-primary">Salvar</button>
		<button type="button" ng-click="destroy()" ng-show="model.curso.id" class="btn btn-danger">Excluir</button>
	</div>
</form>