<h2 ng-show="model.categoriaquestionario.id">Alterar Categoria de Questionário</h2>
<h2 ng-hide="model.categoriaquestionario.id">Adicionar Categoria de Questionário</h2>
<form name="mainForm">

	<label>Nome</label><input type="text" name="nome" ng-model="model.categoriaquestionario.nome" ng-required="true">
	<span ng-show="mainForm.nome.$error.required && mainForm.nome.$dirty" class="alert">Campo obrigátorio</span>
	
	<label>Descrição</label> <input type="text" name="descricao" ng-model="model.categoriaquestionario.descricao"></input> 
	<br> 
	
	<a href="#/categoriaquestionario/" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.categoriaquestionario.id" class="btn btn-danger">Deletar</button>
</form>