<h2 ng-show="model.usuario.id">Alterar Usuário</h2>
<h2 ng-hide="model.usuario.id">Adicionar Usuário</h2>
<form name="mainForm" class="form-control">

	<div class="control-group">
		<label>Nome</label><input type="text" name="nome" ng-model="model.usuario.nome" ng-required="true">
		<validate-msg-for field="mainForm.nome"></validate-msg-for>
	
		<label>Tipo usuário</label>
		<select id="tipousuarios" ng-model="model.usuario.tipousuario" name="tipousuario" ng-options="t.nome for t in tipousuarios track by t.id" ng-required="true">
			<option value="">Selecione um valor</option>
		</select>
		<validate-msg-for field="mainForm.tipousuario"></validate-msg-for>
		
		<label>E-mail</label> <input type="text" name="email" ng-model="model.usuario.email" ng-required="true" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/">
		<validate-msg-for field="mainForm.email"></validate-msg-for>
		
		<label>Identificação</label> <input type="text" name="identificacao" ng-model="model.usuario.identificacao" ng-required="true"></input>
		<validate-msg-for field="mainForm.email"></validate-msg-for>
		 
		<label>Login</label> <input type="text" name="login" ng-model="model.usuario.login" ng-required="true"></input>
		<validate-msg-for field="mainForm.login"></validate-msg-for>
	 </div>
	<br> 
	<a href="#/usuario/" class="btn">Cancelar</a>
	
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.usuario.id" class="btn btn-danger">Deletar</button>
</form>