<h2 ng-show="model.professor.id">Alterar Questionário</h2>
<h2 ng-hide="model.professor.id">Adicionar Questionário</h2>
<form name="mainForm">
	<div class="form-group">
		<label>Descrição</label>
		<input type="text" name="descricao"class="span4" ng-model="model.questionario.descricao" required>
		<validate-msg-for field="mainForm.descricao"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>Observação</label>
		<textarea name="observacao" rows="4" class="span4" ng-model="model.questionario.observacao">
		</textarea>
	</div>
	<br> 
	<a href="#/professor/" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.professor.id" class="btn btn-danger">Deletar</button>
</form>