<div class="home">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Questionários a Responder</h3>
	  </div>
	  <div class="panel-body">
		<div class="panel panel-default">
		  <div class="panel-body" ng-repeat="questionario in questionarios">
		  	<span>{{questionario.descricao}}</span>
		  	<a class="btn btn-default pull-right" ui-sref="responder">Responder</a>
		  </div>
		  <div class="panel-body" ng-if="questionarios.length===0 || !questionarios">Sem Questionários para responder!</div>
		</div>
	  </div>
	</div>
</div>