<div class="container">
	<div class="row text-center">
		<img src="img/logo.png" class="img-responsive center-block" alt="UTFPR Logo">
		<div class="col-lg-4 col-lg-offset-4">
			<ui-alert ng-show="title" class="alert alert-warning" title="{{title}}">
				<p>{{mensagem}}</p>
			</ui-alert>
			<form name="loginForm" class="form-group">
				<div class="panel panel-default">
				 	<div class="panel-heading"><h3>Login</h3></div>
					<div class="panel-body">
						<input type="text" autocomplete="off" name="login" ng-model="model.usuario.login" class="form-control" name="login">
						<input type="password" name="senha" ng-model="model.usuario.senha" class="form-control" name="senha">
						<br>
						<button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="button">Entrar</button>
					</div>
				</div>
				<a ui-sref="alunoNew">Ainda não está cadastrado?</a>
			</form>
		</div>
	</div>
</div>