<nav id="main-menu" class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="home">Questionário Acadêmico</a>
			<ul class="nav navbar-nav">
				<li ng-class="navClass('questionario')"><a ui-sref="questionario">Questionário</a></li>
				<li ng-class="navClass('categoriaquestionario')"><a ui-sref="categoriaquestionario">Categoria Questionário</a></li>
				<li ng-class="navClass('perfil')"><a ui-sref="perfil">Perfil</a></li>
				<li ng-class="navClass('pessoa')"><a ui-sref="pessoa">Pessoa</a></li>
				<li ng-class="navClass('aluno')"><a ui-sref="aluno">Aluno</a></li>
				<li ng-class="navClass('professor')"><a ui-sref="professor">Professor</a></li>
				<li ng-class="navClass('departamento')"><a ui-sref="departamento">Departamento</a></li>
				<li ng-class="navClass('curso')"><a ui-sref="curso">Curso</a></li>
				<li ng-class="navClass('turma')"><a ui-sref="turma">Turma</a></li>
				<li ng-class="navClass('disciplina')"><a ui-sref="disciplina">Disciplina</a></li>
			</ul>
		</div>
		<a class="navbar-brand" ng-click="logout()" href="#/">Sair</a>
</nav>