<form name="mainForm" ng-submit="save()">
	<div class="form-inline">
		<label>Nome</label>
		<input type="text" name="descricao"class="span10" ng-model="model.alternativa.descricao" required>
		<validate-msg-for field="mainForm.nome"></validate-msg-for>
		
		<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn icon-ok">
		</button>
		
		<button type="button" ng-click="destroy()" ng-show="model.alternativa.id" ng-disabled="mainForm.$invalid" class="btn icon-trash">
		</button>
	</div>
</form>