<h2 ng-show="model.aluno.id">Alterar Aluno</h2>
<h2 ng-hide="model.aluno.id">Adicionar Aluno</h2>
<form name="mainForm">
	<div class="form-group">
		<label>Nome</label><input type="text" class="span4" name="nome" ng-model="model.aluno.pessoa.nome" required>
		<validate-msg-for field="mainForm.nome"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>E-mail</label> <input type="email" name="email" ng-model="model.aluno.pessoa.email" ng-required="true">
		<validate-msg-for field="mainForm.email"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>RA</label> <input type="text" name="ra" ng-model="model.aluno.ra" ng-maxlength="15" required></input>
		<validate-msg-for field="mainForm.ra"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>Curso</label> 
		<select id="cursos" ng-model="model.aluno.curso" name="curso" ng-options="c.nome for c in cursos track by t.id" ng-required="true">
			<option value="">Selecione um Curso</option>
		</select>
		<validate-msg-for field="mainForm.curso"></validate-msg-for>
	</div>
	 
	<div class="form-group">
		<label>Turma</label> 
		<select id="turmas" ng-model="model.aluno.turma" name="turma" ng-options="t.nome for t in turmas track by t.id" ng-required="true">
			<option value="">Selecione um Turma</option>
		</select>
		<validate-msg-for field="mainForm.turma"></validate-msg-for>
	</div> 
	<br> 
	<fieldset>
		<legend>Dados de usuário:</legend>
		<div class="form-group">
			<label>Login:</label> <input type="text" name="login" ng-model="model.aluno.pessoa.usuario.login" ng-required="true">
			<validate-msg-for field="mainForm.login"></validate-msg-for>
		</div>
		<div class="form-group">
			<label>Senha:</label> <input type="password" name="senha" ng-model="model.aluno.pessoa.usuario.senha" ng-required="true">
			<validate-msg-for field="mainForm.senha"></validate-msg-for>
		</div>
		<div class="form-group">
			<label>Confirme sua senha:</label> 
			<input type="password" ng-model="model.aluno.pessoa.usuario.confirmsenha" name="confirmsenha" ng-required="true" compare-to="model.aluno.pessoa.usuario.senha">
			<validate-msg-for field="mainForm.confirmsenha"></validate-msg-for>
		</div>
	</fieldset>
	<a ui-sref="aluno" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.aluno.id" class="btn btn-danger">Deletar</button>
</form>