<h2 ng-show="model.aluno.id && !isAluno">Alterar Aluno</h2>
<h2 ng-show="isAluno">Meu Cadastro</h2>
<h2 ng-show="!model.aluno.id && !isAluno">Adicionar Aluno</h2> 
<form name="mainForm" ng-submit="save()">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-6">
					<label>Nome</label><input type="text" class="form-control" name="nome" ng-model="model.aluno.pessoa.nome" required>
					<validate-msg-for field="mainForm.nome"></validate-msg-for>
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-6">
					<label>E-mail</label> <input type="email" class="form-control" name="email" ng-model="model.aluno.pessoa.email" ng-required="true">
					<validate-msg-for field="mainForm.email"></validate-msg-for>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6">
					<label>RA</label> <input type="text" class="form-control" name="ra" ng-model="model.aluno.ra" ng-maxlength="15" required></input>
					<validate-msg-for field="mainForm.ra"></validate-msg-for>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6">
					<label>Curso</label> 
					<select id="cursos" ng-model="model.aluno.curso" class="form-control" name="curso" ng-options="c.nome for c in cursos track by c.id" ng-required="true">
						<option value="">Selecione um Curso</option>
					</select>
					<validate-msg-for field="mainForm.curso"></validate-msg-for>
				</div>
			</div>
			 
			<div class="row">
				<div class="col-xs-6">
					<label>Turma</label> 
					<select id="turmas" ng-model="model.aluno.turma" class="form-control" name="turma" ng-options="t.nome for t in turmas track by t.id" ng-required="true">
						<option value="">Selecione um Turma</option>
					</select>
					<validate-msg-for field="mainForm.turma"></validate-msg-for>
				</div>
			</div> 
			<br> 
			<fieldset ng-if="isAluno || alunoNew">
				<legend>Dados de usuário:</legend>
				<div class="row">
					<div class="col-xs-6">
						<label>Login:</label> 
						<input ng-if="alunoNew" autocomplete="off" type="text" class="form-control" name="login"  ng-minlength="6" user-availability ng-model="model.aluno.pessoa.usuario.login" ng-required="true">
						<input ng-if="isAluno" autocomplete="off" type="text" class="form-control" name="login"  ng-minlength="6" ng-model="model.aluno.pessoa.usuario.login" ng-required="true">
						<!-- não é possivel usar a diretiva "validate-msg-for", porque por algum motivo o erro assincrono nao é passado para a diretiva -->
						<div ng-if="mainForm.login.$dirty" ng-messages="mainForm.login.$error" class="messages">
							<div ng-message="required">Campo Obrigatório</div>
						    <div ng-message="minlength">Necessário mais caracteres</div>
						    <div ng-message="userAvailability">Nome de usuário não está disponível</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="alunoNew">
					<div class="col-xs-6">
						<label>Senha:</label> <input type="password" class="form-control" name="senha" ng-minlength="6" ng-model="model.aluno.pessoa.usuario.senha" ng-required="edit">
						<validate-msg-for field="mainForm.senha"></validate-msg-for>
					</div>
				</div>
				<div class="row" ng-if="alunoNew">
					<div class="col-xs-6">
						<label>Confirme sua senha:</label> 
						<input type="password" class="form-control" ng-model="model.aluno.pessoa.usuario.confirmsenha" name="confirmsenha" ng-required="edit" compare-to="model.aluno.pessoa.usuario.senha">
						<validate-msg-for field="mainForm.confirmsenha"></validate-msg-for>
					</div>
				</div>
			</fieldset>
			<br>
			<a ng-if="alunoNew" ui-sref="login" class="btn btn-default">Cancelar</a>
			<a ng-if="!isAluno && !alunoNew" ui-sref="aluno" class="btn btn-default">Cancelar</a>
			<button type="submit" class="btn btn-primary">Salvar</button>
			<button ng-if="isAluno" type="text" ng-click="alterarSenha()" class="btn btn-primary">Alterar Senha</button>
			<button type="button" ng-if="!isAluno" ng-click="destroy()" ng-show="model.aluno.id" class="btn btn-danger">Excluir</button>
		</div>
</form>