.messages{
	color:  #AF4341;
	padding-top : 1px;
	font-size: 13px;
}

.form-group{
	padding-bottom: 4px;
}

.form-group input{
	margin-bottom: 5px;
}

.container{
	padding-top: 35px;
}

.home .panel{
	margin-top: 15px;
}

.underline{
	text-decoration: underline;
}

@media (max-width: 1491px){
	.nav li a {
		padding: 15px 10px;
	}
}