/* .ui-alert{
	background-color : #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
} */

/* .ui-alert-title{
	color: #AF4341;
	font-weight: bold;
	font-size: 24px;
} */

/* .ui-alert-message{
	color: #AF4341;
} */

.messages{
	color:  #AF4341;
	padding-top : 1px;
	font-size: 13px;
}

.form-group{
	padding-bottom: 4px;
}

.form-group input{
	margin-bottom: 5px;
}

.container{
	padding-top: 35px;
}

.home .panel{
	margin-top: 15px;
}

.underline{
	text-decoration: underline;
}

@media (max-width: 1491px){
	/* escondendo brand de menu, para nao quebrar a view */
	/* #home {
		font-size: 0;
		height: 0;
		padding: 0 0;
		content: "\e021";
	} */
	
	.nav li a {
		padding: 15px 10px;
	}
}