<h2 ng-show="model.tipousuario.id">Alterar Tipo de Usuário</h2>
<h2 ng-hide="model.tipousuario.id">Adicionar Tipo de Usuário</h2>
<form name="mainForm">

	<div ng-messages="mainForm.nome.$error" ng-if="mainForm.nome.$dirty">
		<div ng-message="required"  class="ui-alert ui-alert-message">Campo Nome é Obrigatório</div>
	</div>
	
	<div ng-messages="mainForm.descricao.$error" ng-if="mainForm.descricao.$dirty">
		<div ng-message="required"  class="ui-alert ui-alert-message">Campo Descrição é Obrigatório</div>
	</div>
	
	<label>Nome</label><input type="text" name="nome" ng-model="model.tipousuario.nome" ng-required="true">
	<label>Descrição</label> <input type="text" name="descricao" ng-model="model.tipousuario.descricao" ng-required="true">
	<label>Observação</label> <input type="text" name="observacao" ng-model="model.tipousuario.observacao"> 
	<br> 
	<a href="#/tipousuario/" class="btn">Cancelar</a>
	
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.tipousuario.id" class="btn btn-danger">Deletar</button>
</form>