<h2 ng-show="model.tipousuario.id">Alterar Tipo de Usuário</h2>
<h2 ng-hide="model.tipousuario.id">Adicionar Tipo de Usuário</h2>
<form name="mainForm" class="form-control">

	<label>Nome</label><input type="text" name="nome" ng-model="model.tipousuario.nome" ng-required="true">
	<span ng-show="mainForm.nome.$error.required && mainForm.nome.$dirty" class="alert">Campo obrigátorio</span>
	
	<label>Descrição</label> <input type="text" name="descricao" ng-model="model.tipousuario.descricao" ng-required="true">
	<span ng-show="mainForm.descricao.$error.required && mainForm.descricao.$dirty" class="alert">Campo obrigátorio</span>
	
	<label>Observação</label> <textarea class="" rows="5" name="observacao" ng-model="model.tipousuario.observacao"></textarea> 
	<br> 
	<a href="#/tipousuario/" class="btn">Cancelar</a>
	
	<button class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.tipousuario.id" class="btn btn-danger">Deletar</button>
</form>