<h2 ng-show="model.turma.id">Alterar Turma</h2>
<h2 ng-hide="model.turma.id">Adicionar Turma</h2>
<form name="mainForm">
	<div class="form-group">
		<label>Nome</label><input type="text" name="nome" ng-model="model.turma.nome" required>
		<validate-msg-for field="mainForm.nome"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>Descrição</label> <input type="text" name="descricao" ng-model="model.turma.descricao" ng-required="true">
		<validate-msg-for field="mainForm.descricao"></validate-msg-for>
	</div>
	
	<label>Curso</label>
	<select id="cursos" ng-model="model.turma.curso" name="curso" ng-options="c.nome for c in cursos track by c.id" ng-required="true">
			<option value="">Selecione um curso</option>
	</select>
	<validate-msg-for field="mainForm.curso"></validate-msg-for>
	<br> 
	<a ui-sref="turma" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.turma.id" class="btn btn-danger">Deletar</button>
</form>