<h3 ng-show="model.pergunta.id">Editar Pergunta</h3>
<h3 ng-hide="model.pergunta.id">Adicionar Pergunta</h3>
<form name="mainForm">
	<div class="form-group">
		<label>Nome</label>
		<input type="text" name="nome"class="span10" ng-model="model.pergunta.nome" required>
		<validate-msg-for field="mainForm.nome"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>Descrição</label>
		<input type="text" name="descricao" class="span10" ng-model="model.pergunta.descricao" required>
		<validate-msg-for field="mainForm.descricao"></validate-msg-for>
	</div>
	
	<div class="form-group">
		<label>Tipo de Pergunta</label>
		<select id="tipopergunta" class="span10" ng-model="model.pergunta.tipopergunta" name="tipoperguntas" ng-options="t.nome for t in tipoperguntas track by t.id" required>
			<option value="">Selecione</option>
		</select>
		<validate-msg-for field="mainForm.categoria"></validate-msg-for>
	</div>
	
	<div ng-show="model.pergunta.tipopergunta.id==2">
		<button type="button" class="btn btn-primary" ng-click="newAlternativa()">Adicionar alternativa</button>
		
		<h5>Alternativas</h5>
		<div ng-repeat="alternativa in model.pergunta.alternativas | orderBy : '+id'">
			<div class="input-append">
				<input type="text" ng-model="alternativa.descricao" value="{{alternativa.descricao}}" required>
				<button ng-click="destroyAlternativa($index)" class="btn btn-danger btn-small"  type="button"><i class="icon-trash"></i></button>
			</div>
		</div>
	</div>
	<br> 
	<button type="button" ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">
		<span ng-hide="model.pergunta.id">Adicionar</span>
		<span ng-show="model.pergunta.id">Salvar</span>
	</button>
	<button type="button" ng-click="destroy()" ng-show="model.pergunta.id" class="btn btn-danger">Deletar</button>
	<button type="button" ng-click="limparForm()" class="btn">Limpar</button>
</form>