<h2 ng-show="model.professor.id">Alterar Professor</h2>
<h2 ng-hide="model.professor.id">Adicionar Professor</h2>
<form name="mainForm">
	<div class="form-group">
		<label>Nome</label><input type="text" name="nome" ng-model="model.professor.pessoa.nome" required>
		<div ng-if="mainForm.nome.$dirty" ng-messages="mainForm.nome.$error" ng-messages-include="view/messages.html"></div>
	</div>
	
	<div class="form-group">
		<label>E-mail</label> <input type="email" name="email" ng-model="model.professor.pessoa.email" ng-required="true">
		<div ng-if="mainForm.email.$dirty" ng-messages="mainForm.email.$error" ng-messages-include="view/messages.html"></div>
	</div>
	
	<div class="form-group">
		<label>Matrícula</label> <input type="text" name="matricula" ng-model="model.professor.matricula" ng-minlength="10"></input>
		<div ng-if="mainForm.matricula.$dirty" ng-messages="mainForm.matricula.$error" ng-messages-include="view/messages.html"></div>
	</div>
	 
	<br> 
	<fieldset>
		<legend>Dados de usuário:</legend>
		<div class="form-group">
			<label>Login:</label> <input type="text" name="login" ng-model="model.professor.pessoa.usuario.login" ng-required="true">
			<div ng-if="mainForm.login.$dirty" ng-messages="mainForm.login.$error" ng-messages-include="view/messages.html"></div>
		</div>
		<div class="form-group">
			<label>Senha:</label> <input type="password" name="senha" ng-model="model.professor.pessoa.usuario.senha" ng-required="true">
			 <div ng-if="mainForm.senha.$dirty" ng-messages="mainForm.senha.$error" ng-messages-include="view/messages.html"></div>
		</div>
		<div class="form-group">
			<label>Confirme sua senha:</label> 
			<input type="password" ng-model="model.professor.pessoa.usuario.confirmsenha" name="confirmsenha" ng-required="true" compare-to="model.professor.pessoa.usuario.senha">
			<div ng-if="mainForm.confirmsenha.$dirty" ng-messages="mainForm.confirmsenha.$error" ng-messages-include="view/messages.html"></div>
		</div>
	</fieldset>
	<a href="#/professor/" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.professor.id" class="btn btn-danger">Deletar</button>
</form>