<h2 ng-show="model.contato.id">Alterar Contato</h2>
<h2 ng-hide="model.contato.id">Adicionar Contato</h2>
<form name="mainForm">
	<div class="control-group" ng-class="{error: mainForm.nome.$invalid}">
		<label>Nome</label><input type="text" name="nome" ng-model="model.contato.nome" required><span ng-show="mainForm.nome.$error.required" class="help-inline">Requerido</span>
	</div>
	<label>Endereço</label> <input type="text" name="endereco" ng-model="model.contato.endereco"></input> <br> <a href="#/contato/" class="btn">Cancelar</a>
	<button ng-click="save()" ng-disabled="isClean() || mainForm.$invalid" class="btn btn-primary">Salvar</button>
	<button ng-click="destroy()" ng-show="model.contato.id" class="btn btn-danger">Deletar</button>
</form>